.tox-notification.tox-notification--in.tox-notification--warning {
    display:none!important;
}

.mce-content-body {
    padding: 10px 10px 10px 20px;
    border: solid 1px rgb(178, 176, 184);
    border-radius: 6px;
    width: 450px;
    min-width: 250px;
    max-width: 450px;
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.32);
    background-color: white;
}

.mce-edit-focus {
    outline: none;
}

.tox-tinymce.tox-tinymce-inline {
    border-radius: 6px !important;
}

.tox-editor-container {
    border-radius: 6px !important;
    border: 1px solid rgb(178, 176, 184) !important;
}

.tox-editor-header {
    border-radius: 6px !important;
    border: none !important;
}
.tox-toolbar-overlord {
    border-radius: 6px;
    border: none !important;
}
.tox-toolbar__primary {
    border-radius: 6px !important;
    border: none !important;
}

.table {
   margin-top: 10px !important; 
}


.table-head {
    background-color: #363630;
    color: white !important;
    border-width: 0 !important;
}

.price-table thead {
    display: none !important;
}

ul {
    transform: translateX(10px);
}

.right-bottom {
    text-align: right !important;
    vertical-align: bottom !important;
}

// th, td {
//     width: 120px;
//     min-width: 120px;
//     max-width: 120px;
// }